@page "/"

<PageTitle>Quote of the Day</PageTitle>


<CascadingValue Name="TitleColor" Value="_color">
    <QuoteOfTheDay Title="Spruch des Tages" QotdVm="QotdViewModel"></QuoteOfTheDay>
</CascadingValue>

<div>djfkgidfjgkldfjgkldfgjkldfgjkldfgjdfgdfjklgdfkl</div>