@page "/"
@page "/index"
@page "/home"
@using GfuQotd.Blazor.Wasm.Utilities

<PageTitle>Home</PageTitle>


<QuoteOfTheDay Title="Spruch Des Tages" QotdVm="QotdViewModel">
    <LogOfQotd>
        <div class="alert alert-dark">@QotdViewModel?.LogAsJson()</div>
    </LogOfQotd>
</QuoteOfTheDay>
