@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            <ErrorBoundary Context="ex" @ref="_errorBoundary">
                <ChildContent>
                    <CascadingValue Value="_headingColor" Name="HeadingColor">
                        @Body
                    </CascadingValue>
                </ChildContent>
                <ErrorContent>
                    <div class="alert alert-danger">Etwas ist schiefgelaufen. @ex.Message</div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </main>
</div>

@code
{
    private readonly string _headingColor = "text-primary";
    private ErrorBoundary? _errorBoundary;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }
}
